body{
  background-color:#00af91;
}
hr{
  border-style: none;
  border-top: dotted 5px;
  border-color:white;
  width: 10%;
}
h1{
  color: #007965;
}
h2{
  color: #f58634;
}
h3{
  color: #ffcc29;
}
