body {
  margin: 0px;
}

h1,p {
  margin-top: 0px;
}

.top-container{
  background-color: #bee5d3;
}

.middle-container{
  background-color: #d6b0b1;
  width: 200px;
  height: 200px;
}

.bottom-container{
  background-color: #3b5360;
  width: 200px;
  height: 200px;
  float: inherit;
}
